/* media queries */
@media screen and (max-width:576px) {
  .main-header {
    grid-template-rows: auto auto;
  }
  .navbutton {
    display: block;
    justify-self: end;
    align-self: center;
  }
  .navigation {
    flex-direction: column;
    grid-column: span 2;
    min-width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
  }
  .navigation a {
    border-bottom: solid 1px white;
  }
  .navigation.open {
    max-height: 50vh;
  }
  main {
    width: 100%;
    grid-gap: 30px;
  }
  .twozy {
    grid-column: span 12;
    padding: 0;
  }
  .twozy p {
    font-size: 1em;
  }
  .twozy h1 {
    font-size: 1.5em;
  }
  .threezy {
    grid-column: span 12;
    padding: 0;
  }
  .fourzy {
    grid-column: span 12;
    padding: 0;
    text-align: center;
  }

}